@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*----------
 header area
 ----------- */
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    display:flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-left h2{
    font-size: 25px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-right li{
    list-style: none;
    margin: 0 10px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 18px;
}
.header-right li a{
    text-decoration: none;
    color: black;
}
.header-right i{
    margin:0 10px;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
}
.section-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-left .section-title{
    font-size: 45px;
}
.section-left .title{
    margin: 20px 0;
}
.section-left .button-title{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #E6425E;
    border: 0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.section-left i{
    margin-left: 8px;
    font-size: 18px;
}
.section-right{
    text-align: center;
}
.section-right img{
    background-image: url(images/Circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-top: 30px;  
}
/*---------
 logo title
 ---------- */

.logo-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-bottom: 100px; 
}
/*-----------
 popular area
 ------------ */


.heading{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
}
.popular-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 2em;
    justify-items: center;
}
.popular{
    background-color: #ffffff;
    width: 300px;
    padding: 10px;
    box-shadow: 5px 8px 5px 8px lightgray;
    border-radius: 5px;
}

.popular-buttom h2{
    font-size: 30px;
    margin: 10px 0;
}
.popular-buttom .dolar{
    font-size:25px;
}
.star-area{
    margin-top: 10px;
}
.popular-buttom .star{
    color: #E8BD0D;
    font-size: 10px;
}
.popular-buttom .half{
    color: #E8BD0D;
    font-size: 10px;
}
.popular-buttom .point{
    font-size: 15px;
    margin-left:10px;
    color: gray;
}
.popular-buttom p{
    font-size: 13px;
    color: gray;
}
.popular-link{
    display: flex;
    justify-content: end;
    margin-top: 50px; 
}
.popular-link a{
    text-decoration: none;
    color: #E6425E;
}
.popular-link i{
    margin-left: 5px;
    margin-right: 35px;
}



