@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header area */
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    display:flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-left h2{
    font-size: 25px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.header-right li{
    list-style: none;
    margin: 0 10px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 18px;
}
.header-right li a{
    text-decoration: none;
    color: black;
}
.header-right i{
    margin:0 10px;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
}
.section-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-left .section-title{
    font-size: 45px;
}
.section-left .title{
    margin: 20px 0;
}
.section-left .button-title{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #E6425E;
    border: 0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.section-left i{
    margin-left: 8px;
    font-size: 18px;
}
.section-right{
    text-align: center;
}
.section-right img{
    background-image: url(images/Circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-top: 30px;  
}

